/Lib/SharedMauiLib/bin/Debug/net7.0/SharedMauiLib.dll
/Lib/SharedMauiLib/bin/Debug/net7.0/SharedMauiLib.pdb
/Lib/SharedMauiLib/bin/Debug/net7.0-android/SharedMauiLib.dll
/Lib/SharedMauiLib/bin/Debug/net7.0-android/SharedMauiLib.pdb
/Lib/SharedMauiLib/bin/Debug/net7.0-ios/SharedMauiLib.dll
/Lib/SharedMauiLib/bin/Debug/net7.0-ios/SharedMauiLib.pdb
/Lib/SharedMauiLib/bin/Debug/net7.0-maccatalyst/SharedMauiLib.dll
/Lib/SharedMauiLib/bin/Debug/net7.0-maccatalyst/SharedMauiLib.pdb
/Lib/SharedMauiLib/bin/Debug/net7.0-windows10.0.19041.0/SharedMauiLib.dll
/Lib/SharedMauiLib/bin/Debug/net7.0-windows10.0.19041.0/SharedMauiLib.pdb
/Lib/SharedMauiLib/obj/Debug/net7.0/SharedMauiLib.csproj.FileListAbsolute.txt
/Lib/SharedMauiLib/obj/Debug/net7.0/SharedMauiLib.dll
/Lib/SharedMauiLib/obj/Debug/net7.0/SharedMauiLib.pdb
/Lib/SharedMauiLib/obj/Debug/net7.0-android/SharedMauiLib.csproj.FileListAbsolute.txt
/Lib/SharedMauiLib/obj/Debug/net7.0-android/SharedMauiLib.dll
/Lib/SharedMauiLib/obj/Debug/net7.0-android/SharedMauiLib.pdb
/Lib/SharedMauiLib/obj/Debug/net7.0-ios/SharedMauiLib.csproj.FileListAbsolute.txt
/Lib/SharedMauiLib/obj/Debug/net7.0-ios/SharedMauiLib.dll
/Lib/SharedMauiLib/obj/Debug/net7.0-ios/SharedMauiLib.pdb
/Lib/SharedMauiLib/obj/Debug/net7.0-maccatalyst/SharedMauiLib.csproj.FileListAbsolute.txt
/Lib/SharedMauiLib/obj/Debug/net7.0-maccatalyst/SharedMauiLib.dll
/Lib/SharedMauiLib/obj/Debug/net7.0-maccatalyst/SharedMauiLib.pdb
/Lib/SharedMauiLib/obj/Debug/net7.0-windows10.0.19041.0/SharedMauiLib.csproj.FileListAbsolute.txt
/Lib/SharedMauiLib/obj/Debug/net7.0-windows10.0.19041.0/SharedMauiLib.dll
/Lib/SharedMauiLib/obj/Debug/net7.0-windows10.0.19041.0/SharedMauiLib.pdb
/MobileBlazor/.vs/Podcast.DotnetMaui.Blazor/DesignTimeBuild/.dtbcache.v2
/MobileBlazor/.vs/Podcast.DotnetMaui.Blazor/FileContentIndex/183de4b8-49b4-4588-aca0-3fb1065abece.vsidx
/MobileBlazor/.vs/Podcast.DotnetMaui.Blazor/FileContentIndex/c9df5a43-cc18-4672-8d09-15121a2d5cfb.vsidx
/MobileBlazor/.vs/Podcast.DotnetMaui.Blazor/v17/.futdcache.v2
/MobileBlazor/.vs/Podcast.DotnetMaui.Blazor/v17/.suo
/MobileBlazor/.vs/ProjectEvaluation/podcast.dotnetmaui.blazor.metadata.v5.2
/MobileBlazor/.vs/ProjectEvaluation/podcast.dotnetmaui.blazor.projects.v5.2
/MobileBlazor/mauiapp/bin/Debug/net7.0-windows10.0.19041.0/win10-x64/AppX/NetPodsMauiBlazor.dll
/MobileBlazor/mauiapp/bin/Debug/net7.0-windows10.0.19041.0/win10-x64/AppX/Podcast.Components.dll
/MobileBlazor/mauiapp/bin/Debug/net7.0-windows10.0.19041.0/win10-x64/AppX/Podcast.Components.staticwebassets.runtime.json
/MobileBlazor/mauiapp/bin/Debug/net7.0-windows10.0.19041.0/win10-x64/AppX/Podcast.Pages.dll
/MobileBlazor/mauiapp/bin/Debug/net7.0-windows10.0.19041.0/win10-x64/AppX/Podcast.Pages.staticwebassets.runtime.json
/MobileBlazor/mauiapp/bin/Debug/net7.0-windows10.0.19041.0/win10-x64/AppX/Podcast.Shared.dll
/MobileBlazor/mauiapp/bin/Debug/net7.0-windows10.0.19041.0/win10-x64/AppX/SharedMauiLib.dll
/MobileBlazor/mauiapp/bin/Debug/net7.0-windows10.0.19041.0/win10-x64/AppX/vs.appxrecipe
/MobileBlazor/mauiapp/bin/Debug/net7.0-windows10.0.19041.0/win10-x64/NetPodsMauiBlazor.build.appxrecipe
/MobileBlazor/mauiapp/bin/Debug/net7.0-windows10.0.19041.0/win10-x64/NetPodsMauiBlazor.dll
/MobileBlazor/mauiapp/bin/Debug/net7.0-windows10.0.19041.0/win10-x64/NetPodsMauiBlazor.pdb
/MobileBlazor/mauiapp/bin/Debug/net7.0-windows10.0.19041.0/win10-x64/Podcast.Components.dll
/MobileBlazor/mauiapp/bin/Debug/net7.0-windows10.0.19041.0/win10-x64/Podcast.Components.pdb
/MobileBlazor/mauiapp/bin/Debug/net7.0-windows10.0.19041.0/win10-x64/Podcast.Components.staticwebassets.runtime.json
/MobileBlazor/mauiapp/bin/Debug/net7.0-windows10.0.19041.0/win10-x64/Podcast.Pages.dll
/MobileBlazor/mauiapp/bin/Debug/net7.0-windows10.0.19041.0/win10-x64/Podcast.Pages.pdb
/MobileBlazor/mauiapp/bin/Debug/net7.0-windows10.0.19041.0/win10-x64/Podcast.Pages.staticwebassets.runtime.json
/MobileBlazor/mauiapp/bin/Debug/net7.0-windows10.0.19041.0/win10-x64/Podcast.Shared.dll
/MobileBlazor/mauiapp/bin/Debug/net7.0-windows10.0.19041.0/win10-x64/Podcast.Shared.pdb
/MobileBlazor/mauiapp/bin/Debug/net7.0-windows10.0.19041.0/win10-x64/SharedMauiLib.dll
/MobileBlazor/mauiapp/bin/Debug/net7.0-windows10.0.19041.0/win10-x64/SharedMauiLib.pdb
/MobileBlazor/mauiapp/NetPodsMauiBlazor.csproj.user
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/adb.props
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/build.props
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/devices.cache
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/mauifont.inputs
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/mauifont.stamp
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/mauiimage.inputs
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/mauisplash.inputs
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/mauisplash.stamp
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/NetPodsMauiBlazor.csproj.AssemblyReference.cache
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/r/drawable-hdpi/dotnet_bot.png
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/r/drawable-hdpi/player_play.png
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/r/drawable-hdpi/splash.png
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/r/drawable-mdpi/dotnet_bot.png
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/r/drawable-mdpi/player_play.png
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/r/drawable-mdpi/splash.png
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/r/drawable-xhdpi/dotnet_bot.png
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/r/drawable-xhdpi/player_play.png
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/r/drawable-xhdpi/splash.png
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/r/drawable-xxhdpi/dotnet_bot.png
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/r/drawable-xxhdpi/player_play.png
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/r/drawable-xxhdpi/splash.png
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/r/drawable-xxxhdpi/dotnet_bot.png
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/r/drawable-xxxhdpi/player_play.png
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/r/drawable-xxxhdpi/splash.png
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/r/mipmap-anydpi-v26/appicon.xml
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/r/mipmap-anydpi-v26/appicon_round.xml
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/r/mipmap-hdpi/appicon.png
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/r/mipmap-hdpi/appicon_background.png
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/r/mipmap-hdpi/appicon_foreground.png
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/r/mipmap-mdpi/appicon.png
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/r/mipmap-mdpi/appicon_background.png
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/r/mipmap-mdpi/appicon_foreground.png
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/r/mipmap-xhdpi/appicon.png
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/r/mipmap-xhdpi/appicon_background.png
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/r/mipmap-xhdpi/appicon_foreground.png
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/r/mipmap-xxhdpi/appicon.png
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/r/mipmap-xxhdpi/appicon_background.png
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/r/mipmap-xxhdpi/appicon_foreground.png
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/r/mipmap-xxxhdpi/appicon.png
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/r/mipmap-xxxhdpi/appicon_background.png
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/r/mipmap-xxxhdpi/appicon_foreground.png
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/sp/drawable/maui_splash_image.xml
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/sp/drawable-v31/maui_splash_image.xml
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/resizetizer/sp/values/maui_colors.xml
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/scopedcss/bundle/NetPodsMauiBlazor.styles.css
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/stamp/_CleanIntermediateIfNeeded.stamp
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/staticwebassets.build.json
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/staticwebassets.development.json
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/staticwebassets.pack.json
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/staticwebassets.publish.json
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/staticwebassets/msbuild.build.NetPodsMauiBlazor.props
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/staticwebassets/msbuild.buildMultiTargeting.NetPodsMauiBlazor.props
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/staticwebassets/msbuild.buildTransitive.NetPodsMauiBlazor.props
/MobileBlazor/mauiapp/obj/Debug/net7.0-android/staticwebassets/msbuild.NetPodsMauiBlazor.Microsoft.AspNetCore.StaticWebAssets.props
/MobileBlazor/mauiapp/obj/Debug/net7.0-ios/iossimulator-x64/NetPodsMauiBlazor.csproj.AssemblyReference.cache
/MobileBlazor/mauiapp/obj/Debug/net7.0-maccatalyst/maccatalyst-x64/NetPodsMauiBlazor.csproj.AssemblyReference.cache
/MobileBlazor/mauiapp/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/intermediatexaml/NetPodsMauiBlazor.dll
/MobileBlazor/mauiapp/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/intermediatexaml/NetPodsMauiBlazor.pdb
/MobileBlazor/mauiapp/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/NetPodsMauiBlazor.csproj.AssemblyReference.cache
/MobileBlazor/mauiapp/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/NetPodsMauiBlazor.csproj.CoreCompileInputs.cache
/MobileBlazor/mauiapp/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/NetPodsMauiBlazor.csproj.FileListAbsolute.txt
/MobileBlazor/mauiapp/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/NetPodsMauiBlazor.dll
/MobileBlazor/mauiapp/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/NetPodsMauiBlazor.genruntimeconfig.cache
/MobileBlazor/mauiapp/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/NetPodsMauiBlazor.pdb
/MobileBlazor/mauiapp/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/Platforms/Windows/App.g.cs
/MobileBlazor/mauiapp/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/ProjectArchitectures.txt
/MobileBlazor/mauiapp/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/staticwebassets.build.json
/MobileBlazor/mauiapp/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/staticwebassets.development.json
/MobileBlazor/mauiapp/obj/Debug/net7.0-windows10.0.19041.0/win10-x64/staticwebassets.publish.json
/Web/Components/bin/Debug/net7.0/Podcast.Components.dll
/Web/Components/bin/Debug/net7.0/Podcast.Components.pdb
/Web/Components/bin/Debug/net7.0/Podcast.Components.staticwebassets.runtime.json
/Web/Components/obj/Debug/net7.0/Podcast.Components.csproj.FileListAbsolute.txt
/Web/Components/obj/Debug/net7.0/Podcast.Components.dll
/Web/Components/obj/Debug/net7.0/Podcast.Components.pdb
/Web/Components/obj/Debug/net7.0/staticwebassets.build.json
/Web/Components/obj/Debug/net7.0/staticwebassets.development.json
/Web/Components/obj/Debug/net7.0/staticwebassets.pack.json
/Web/Pages/bin/Debug/net7.0/Podcast.Components.dll
/Web/Pages/bin/Debug/net7.0/Podcast.Components.pdb
/Web/Pages/bin/Debug/net7.0/Podcast.Components.staticwebassets.runtime.json
/Web/Pages/bin/Debug/net7.0/Podcast.Pages.dll
/Web/Pages/bin/Debug/net7.0/Podcast.Pages.pdb
/Web/Pages/bin/Debug/net7.0/Podcast.Pages.staticwebassets.runtime.json
/Web/Pages/bin/Debug/net7.0/Podcast.Shared.dll
/Web/Pages/bin/Debug/net7.0/Podcast.Shared.pdb
/Web/Pages/obj/Debug/net7.0/Podcast.Pages.csproj.AssemblyReference.cache
/Web/Pages/obj/Debug/net7.0/Podcast.Pages.csproj.CoreCompileInputs.cache
/Web/Pages/obj/Debug/net7.0/Podcast.Pages.csproj.FileListAbsolute.txt
/Web/Pages/obj/Debug/net7.0/Podcast.Pages.dll
/Web/Pages/obj/Debug/net7.0/Podcast.Pages.pdb
/Web/Pages/obj/Debug/net7.0/staticwebassets.build.json
/Web/Pages/obj/Debug/net7.0/staticwebassets.development.json
/Web/Pages/obj/Debug/net7.0/staticwebassets.pack.json
/Web/Shared/bin/Debug/net7.0/Podcast.Shared.dll
/Web/Shared/bin/Debug/net7.0/Podcast.Shared.pdb
/Web/Shared/obj/Debug/net7.0/Podcast.Shared.csproj.FileListAbsolute.txt
/Web/Shared/obj/Debug/net7.0/Podcast.Shared.dll
/Web/Shared/obj/Debug/net7.0/Podcast.Shared.pdb
