.categories[b-vq7rb4at49] {
    align-items: flex-end;
    flex-direction: column;
    margin-bottom: 8px;
    padding: 0 16px;
}

[b-vq7rb4at49] .categories .appLink {
    margin-bottom: 16px;
}

@media screen and (min-width: 1280px) {
    .categories[b-vq7rb4at49] {
        display: flex;
        margin-bottom: 0;
        padding: 0 48px;
    }
}
