@page "/listen-later"
@implements IDisposable
@inject ListenLaterService ListenLaterService

<PageTitle>News From All Courses</PageTitle>

@if (listenLaterEpisodes == null)
{
    <Spinner />
}
else
{
    <div class="containerPage">
        <div class="titleWrapper">
            <TitlePage Label="News From All Courses" />
        </div>

        <div class="contentWrapper">
            @if (!listenLaterEpisodes.Any())
            {
                <NoResults Message="There arent any news yet..."
                   Description="We will add news here as soon as they get created!"
                   Image="_content/Podcast.Pages/images/no-listen-later.png" />
            }
            else
            {
                <Virtualize Items="@listenLaterEpisodes" Context="item" TItem="EpisodeInfo" ItemSize="220">
                    <NewsListItem News="@item" IsShowVisible />
                </Virtualize>
            }
        </div>
    </div>
}

@code {
    private ICollection<EpisodeInfo>? listenLaterEpisodes;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            EpisodeInfo e1 = new EpisodeInfo(Guid.NewGuid(), "Title", "Description", "Url", DateTime.Now, null, null);
            listenLaterEpisodes = new List<EpisodeInfo>();
            listenLaterEpisodes.Add(e1);
            listenLaterEpisodes.Add(e1);
            listenLaterEpisodes.Add(e1);
            listenLaterEpisodes.Add(e1);
            listenLaterEpisodes.Add(e1);
            listenLaterEpisodes.Add(e1);
            // listenLaterEpisodes = await ListenLaterService.GetEpisodesAsync();
            StateHasChanged();
        }
    }

    protected override void OnInitialized()
    {
        ListenLaterService.EpisodesChanged += UpdateEpisodes;
    }

    public void Dispose()
    {
        ListenLaterService.EpisodesChanged -= UpdateEpisodes;
    }

    private async void UpdateEpisodes(ICollection<EpisodeInfo> episodes)
    {
        listenLaterEpisodes = episodes;
        await InvokeAsync(StateHasChanged);
    }
}