<div class="navbarApp">
    <h1 class="navbarApp-linkLabel menu_title">{Course Name} Menu</h1>

    <nav class="navbarApp__wrapper2">
        <div class="navbarApp-item">
            <NavLink class="navbarApp-link" href="courses" Match="NavLinkMatch.All">
                <span class="navbarApp-linkIcon icon-home" aria-hidden="true"></span>
                <span class="navbarApp-linkLabel">Classes</span>
            </NavLink>
        </div>
        @if (tracks_grades)
        {
            <div class="navbarApp-item">
                <NavLink class="navbarApp-link" href="@($"course/{courseId}/grades")" Match="NavLinkMatch.All">
                    <span class="navbarApp-linkIcon icon-home" aria-hidden="true"></span>
                    <span class="navbarApp-linkLabel">Grades</span>
                </NavLink>
            </div>
        }
        <div class="navbarApp-item">
            <NavLink class="navbarApp-link" href="listen-later">
                <span class="navbarApp-linkIcon icon-subscriptions" aria-hidden="true"></span>
                <span class="navbarApp-linkLabel">News</span>
            </NavLink>
        </div>
        @if (tracks_payments)
        {
            <div class="navbarApp-item">
                <NavLink class="navbarApp-link" href="@($"course/{courseId}/payments/")" Match="NavLinkMatch.All">
                    <span class="navbarApp-linkIcon icon-home" aria-hidden="true"></span>
                    <span class="navbarApp-linkLabel">Payments</span>
                </NavLink>
            </div>
        }
    </nav>
   

</div>

@code {
    [Parameter]
    public Guid courseId { get; set; }

    private bool tracks_grades = true;
    private bool tracks_payments = true;

    protected override async Task OnInitializedAsync()
    {
        // Do call to set:tracks_grades, tracks_payments
    }

}
