/* _content/Podcast.Pages/Pages/CategoriesPage.razor.rz.scp.css */
.categories-list[b-pqo0r3dl3g] {
    display: grid;
    grid-auto-rows: auto;
    grid-template-rows: 1fr;
    overflow: hidden;
    gap: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

[b-pqo0r3dl3g] .categories-list-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden;
  padding: 16px 32px;
  background-color: var(--c-neutral-white-complementary);
  color: var(--c-neutral-grey8);
  font-family: var(--ff-semibold);
  font-size: var(--text-s-fs);
  line-height: var(--text-s-lh);
  border-radius: 12px;
  height: 62px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

[b-pqo0r3dl3g] .categories-list-item:hover {
  color: var(--c-neutral-white);
  background: var(--c-primary);
  background: var(--gradient-final);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.1),
    0 1px 1px rgba(0, 0, 0, 0.05);
}

[b-pqo0r3dl3g] .categories-list-item:active {
  color: var(--c-neutral-white);
  background: var(--c-primary-dark);
}

@media screen and (min-width: 992px) {
  .categories-list[b-pqo0r3dl3g] {
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }

  [b-pqo0r3dl3g] .categories-list-item {
    height: 100px;
    font-size: var(--headlines-h6-fs);
    line-height: var(--headlines-h6-lh);
  }
}

@media screen and (min-width: 1280px) {
  .categories-list[b-pqo0r3dl3g] {
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }
}
/* _content/Podcast.Pages/Pages/DiscoverPage.razor.rz.scp.css */
.categories[b-vq7rb4at49] {
    align-items: flex-end;
    flex-direction: column;
    margin-bottom: 8px;
    padding: 0 16px;
}

[b-vq7rb4at49] .categories .appLink {
    margin-bottom: 16px;
}

@media screen and (min-width: 1280px) {
    .categories[b-vq7rb4at49] {
        display: flex;
        margin-bottom: 0;
        padding: 0 48px;
    }
}
/* _content/Podcast.Pages/Pages/SettingsPage.razor.rz.scp.css */
.settings-content[b-vwtbu3anls] {
    display: grid;
    gap: 24px;
}

.settings-developed[b-vwtbu3anls] {
    margin-top: 48px;
}
/* _content/Podcast.Pages/Pages/ShowPage.razor.rz.scp.css */
.showEpisodes[b-r1oxypr2y3] {
    padding: 0 16px;
}

.showEpisodes[b-r1oxypr2y3]  .subtitlePage {
    margin-bottom: 0;
}

@media screen and (min-width: 992px) {
    .showEpisodes[b-r1oxypr2y3] {
        padding: 0 48px;
    }
}

@media screen and (min-width: 1366px) {
    .showEpisodes[b-r1oxypr2y3] {
        margin-left: 332px;
    }
}
/* _content/Podcast.Pages/Shared/Header.razor.rz.scp.css */
.header[b-ys09amls8w]  .header__logo {
    display: flex;
    width: 120px;
    padding: 12px 14px;
    align-items: center;
}

    .header[b-ys09amls8w]  .header__logo img,
    .header[b-ys09amls8w]  .header__logo svg {
        width: 100%;
        height: auto;
    }

    .header[b-ys09amls8w]  .header__logo .logo-label {
        fill: var(--c-neutral-grey8);
    }

@media screen and (min-width: 992px) {
    .header[b-ys09amls8w]  .header__logo {
        width: 230px;
        padding: 43px 41px;
    }
}
/* _content/Podcast.Pages/Shared/Lists/EpisodeListItem.razor.rz.scp.css */
.episode-play[b-3ia03hkdpg] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: var(--gradient-final);
    cursor: pointer;
}

.episode-play > span[b-3ia03hkdpg] {
    color: var(--c-neutral-white);
    font-size: 24px;
}

.episode[b-3ia03hkdpg] {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px 32px;
    padding: 28px 2px;
    grid-template-areas:
        'play resumeTitle'
        'play actions';
    border-bottom: 1px solid var(--c-neutral-grey4);
}

.episode:last-of-type[b-3ia03hkdpg] {
    border-bottom: none;
}

.episode-sound[b-3ia03hkdpg] {
    align-items: center;
    grid-area: play;
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 44px;
}

.episode-length[b-3ia03hkdpg] {
    color: var(--c-neutral-grey7);
    font-family: var(--ff-regular);
    font-size: var(--text-s-fs);
    line-height: var(--text-s-lh);
}

.episode-resumeTitle[b-3ia03hkdpg] {
    align-items: flex-start;
    display: flex;
    grid-area: resumeTitle;
}

.episode-resumeTitle[b-3ia03hkdpg]  picture {
    margin-right: 12px;
    min-width: 70px;
    width: 70px;
}

.episode-resumeTitle-title[b-3ia03hkdpg] {
    color: var(--c-neutral-grey8);
    font-family: var(--ff-semibold);
    font-size: var(--subheadings-s6-fs);
    line-height: var(--subheadings-s6-lh);
}

.episode-resumeTitle-showTitle[b-3ia03hkdpg] {
    color: var(--c-neutral-grey8);
    font-family: var(--ff-semibold);
    font-size: var(--text-m-fs);
    line-height: var(--text-m-lh);
}

.episode-resumeTitle-title.is-playing[b-3ia03hkdpg] {
    color: var(--c-primary);
}

.episode-resumeTitle-date[b-3ia03hkdpg] {
    color: var(--c-neutral-grey7);
    font-family: var(--ff-regular);
    font-size: var(--text-s-fs);
    line-height: var(--text-s-lh);
}

.episode-description[b-3ia03hkdpg] {
    grid-area: resumeDescription;
    color: var(--c-neutral-dark);
    font-family: var(--ff-regular);
    font-size: var(--text-m-fs);
    line-height: var(--text-m-lh);
    display: none;
    word-break: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.episode-description[b-3ia03hkdpg]  a {
    color: var(--c-primary);
    font-family: var(--ff-semibold);
    font-size: var(--text-m-fs);
    line-height: var(--text-m-lh);
}

.episode-description[b-3ia03hkdpg]  a:hover {
    color: var(--c-primary-light);
    text-decoration: underline;
}

.episode-description[b-3ia03hkdpg]  a:active {
    color: var(--c-primary-dark);
    text-decoration: none;
}

.episode-actions[b-3ia03hkdpg] {
    display: flex;
    grid-area: actions;
    gap: 16px;
    align-items: center;
}

.episode-actions-share[b-3ia03hkdpg],
.episode-actions-later[b-3ia03hkdpg] {
    color: var(--c-primary);
    font-size: 24px;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .episode[b-3ia03hkdpg] {
        gap: 16px 48px;
        grid-template-areas:
            'play resumeTitle actions'
            'play resumeDescription actions';
        grid-template-columns: auto 1fr auto;
    }

    .episode-description[b-3ia03hkdpg] {
        display: -webkit-box;
    }
}

@media screen and (min-width: 992px) {
    .episode-actions[b-3ia03hkdpg] {
        align-self: flex-start;
        padding-top: 67px;
    }
}
/* _content/Podcast.Pages/Shared/MainLayout.razor.rz.scp.css */
.page[b-q0i88qu0qu] {
    background-color: var(--c-neutral-grey1);
    display: grid;
    grid-template-areas:
        "header"
        "main-view"
        "player-bar"
        "nav-bar";
    grid-template-columns: 1fr;
    grid-template-rows: 56px 1fr auto auto;
    position: relative;
    height: 100%;
    width: 100%;
}

main[b-q0i88qu0qu] {
    grid-area: main-view;
    overflow: hidden;
    display: flex;
    justify-content: inherit;
    width: 100%;
}

    main > article[b-q0i88qu0qu] {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

.page__header[b-q0i88qu0qu] {
    grid-area: header;
/*    height: 100%;
    box-sizing: border-box;*/
}

.page__sidebar[b-q0i88qu0qu] {
    grid-area: nav-bar;
    background-color: var(--c-neutral-white-complementary);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.05);
    color: var(--c-neutral-grey8);
    width: 100%;
    z-index: 5;
}

[b-q0i88qu0qu] .footerPlayer {
    grid-area: player-bar;
    z-index: 1;
}

[b-q0i88qu0qu] .containerPage {
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 8px;
    padding-bottom: 16px;
    margin-right: -8px;
    margin-top: 8px;
    height: 100%;
}

[b-q0i88qu0qu] .containerPage--featured {
    padding-bottom: 16px;
}

[b-q0i88qu0qu] .titleWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    padding: 0 16px;
    flex-direction: column-reverse;
    align-items: flex-start;
}

[b-q0i88qu0qu] .contentWrapper {
    padding-left: 16px;
    padding-right: 16px;
}

[b-q0i88qu0qu] .appLink {
    color: var(--c-primary);
    font-family: var(--ff-semibold);
    display: inline-flex;
    align-items: center;
}

    [b-q0i88qu0qu] .appLink:hover {
        color: var(--c-primary-dark);
        cursor: pointer;
    }

[b-q0i88qu0qu] .appLink-icon {
    font-size: 16px;
    margin-right: 2px;
}

@media screen and (min-width: 992px) {
    .page[b-q0i88qu0qu] {
        grid-template-areas:
            "header main-view"
            "nav-bar main-view"
            "player-bar player-bar";
        grid-template-columns: auto 1fr;
        grid-template-rows: 142px 1fr auto;
    }

    main > article[b-q0i88qu0qu] {
        padding-top: 39px;
        padding-bottom: 0;
    }

    .page__header[b-q0i88qu0qu] {
        background-color: var(--c-neutral-white-complementary);
    }

    .page__sidebar[b-q0i88qu0qu] {
        box-shadow: 0 0 0;
        height: 100%;
        position: sticky;
        top: 0;
        width: 312px;
        grid-area: nav-bar;
        z-index: unset;
    }

    [b-q0i88qu0qu] .containerPage {
        padding-bottom: 39px;
        padding-right: 0;
        margin-right: 10px;
        margin-top: 0;
    }

    [b-q0i88qu0qu] .containerPage--featured {
        padding-bottom: 0;
    }

    [b-q0i88qu0qu] .contentWrapper {
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media screen and (min-width: 1280px) {
    [b-q0i88qu0qu] .titleWrapper {
        padding: 0 48px;
        flex-direction: row;
        align-items: flex-end;
    }
}
/* _content/Podcast.Pages/Shared/NavMenu.razor.rz.scp.css */
.navbarApp[b-35dlf7nlf3] {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbarApp__wrapper[b-35dlf7nlf3] {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.navbarApp .sidebar-image[b-35dlf7nlf3] {
    display: none;
    position: fixed;
    bottom: 0;
    z-index: -1;
}

.navbarApp .sidebar-image-path[b-35dlf7nlf3] {
    fill: var(--c-waves-image);
} 

[b-35dlf7nlf3] .navbarApp-link {
    align-items: center;
    color: var(--c-neutral-grey8);
    display: flex;
    flex-direction: column;
    padding: 12px 8px;
    text-decoration: none;
    text-align: center;
}

[b-35dlf7nlf3] .navbarApp-link.active,
[b-35dlf7nlf3] .navbarApp-link:hover {
    color: var(--c-primary);
}

.navbarApp-linkLabel[b-35dlf7nlf3] {
    font-family: var(--ff-semibold);
    font-size: var(--text-s-fs);
    line-height: var(--text-s-lh);
    margin-top: 8px;
}

.navbarApp-linkLabel > span[b-35dlf7nlf3] {
    display: none;
    margin-right: 8px;
}

.navbarApp-linkIcon[b-35dlf7nlf3] {
    font-size: 24px;
}

@media screen and (min-width: 992px) {
    .navbarApp .sidebar-image[b-35dlf7nlf3] {
        display: block;
    }

    .navbarApp__wrapper[b-35dlf7nlf3] {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        grid-template-columns: inherit;
    }

    [b-35dlf7nlf3] .navbarApp-link {
        flex-direction: row;
        padding: 12px 48px;
    }

    [b-35dlf7nlf3] .navbarApp-link.active,
    [b-35dlf7nlf3] .navbarApp-link:hover {
        background-color: var(--c-primary-xxlight);
    }

    .navbarApp-item[b-35dlf7nlf3] {
        margin-bottom: 24px;
    }

    .navbarApp-linkLabel[b-35dlf7nlf3] {
        font-size: var(--text-l-fs);
        line-height: var(--text-l-lh);
        margin-top: 0;
    }

    .navbarApp-linkLabel > span[b-35dlf7nlf3] {
        display: inline-block;
    }

    .navbarApp-linkIcon[b-35dlf7nlf3] {
        margin-bottom: 0;
        margin-right: 16px;
    }
}
/* _content/Podcast.Pages/Shared/SearchBar.razor.rz.scp.css */
.searchBarForm[b-ck2ahdezf8] {
    height: auto;
    margin-bottom: 10px;
    padding: 0 16px;
}

.searchBar[b-ck2ahdezf8] {
    position: relative;
}

.searchBar__icon[b-ck2ahdezf8] {
    color: var(--c-primary);
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
}

.searchBar__input[b-ck2ahdezf8] {
    appearance: none;
    outline: 0 none;
    font-size: var(--text-m-fs);
    line-height: var(--text-m-lh);
    background-color: var(--c-searchbar);
    border: 1px solid var(--c-neutral-grey4);
    border-radius: 4px;
    box-sizing: border-box;
    height: 36px;
    padding: 6px 6px 6px 36px;
    max-width: 460px;
    display: block;
    width: 100%;
}

.searchBar__input[b-ck2ahdezf8],
.searchBar__input[b-ck2ahdezf8]::placeholder {
    color: var(--c-neutral-grey8);
}

.searchBar__input:hover[b-ck2ahdezf8] {
    border-color: var(--c-neutral-grey6);
}

.searchBar__input:active[b-ck2ahdezf8],
.searchBar__input:focus[b-ck2ahdezf8] {
    border-color: var(--c-primary);
}

@media screen and (min-width: 992px) {
    .searchBarForm[b-ck2ahdezf8] {
        padding: 0 48px;
    }
}
/* _content/Podcast.Pages/Shared/ShowResume.razor.rz.scp.css */
.showResume[b-j5dq8ssdop] {
    align-items: stretch;
    display: grid;
    gap: 0 32px;
    padding: 0 16px;
    grid-template-columns: 156px auto;
    grid-template-areas:
        "showPicture showResumeInfo"
        "buttonApp buttonApp"
        "showResumeDescription showResumeDescription";
}

    .showResume:not(:last-child)[b-j5dq8ssdop] {
        margin-bottom: 32px;
    }

.showResume-picture[b-j5dq8ssdop] {
    grid-area: showPicture;
}

.showResume-info[b-j5dq8ssdop] {
    display: flex;
    flex-direction: column;
    grid-area: showResumeInfo;
    gap: 8px;
    margin-bottom: 8px;
}

.showResume-title[b-j5dq8ssdop] {
    color: var(--c-neutral-grey8);
    font-family: var(--ff-semibold);
    font-size: var(--headlines-h6-fs);
    line-height: var(--headlines-h6-lh);
}

.showResume-author[b-j5dq8ssdop] {
    color: var(--c-neutral-grey7);
    font-size: var(--text-s-fs);
    line-height: var(--text-s-lh);
}

.showResume-description[b-j5dq8ssdop] {
    grid-area: showResumeDescription;
    max-width: 796px;
    margin-bottom: 12px;
    font-size: var(--text-m-fs);
    line-height: var(--text-m-lh);
}

.showResume .buttonApp[b-j5dq8ssdop] {
    margin: 24px 0;
}

@media screen and (min-width: 992px) {
    .showResume[b-j5dq8ssdop] {
        grid-template-columns: 300px auto;
        padding: 0 48px;
        grid-template-areas:
            "showPicture showResumeInfo"
            "showPicture showResumeDescription"
            "showPicture buttonApp";
    }

        .showResume .buttonApp[b-j5dq8ssdop] {
            margin: 0;
            width: fit-content;
        }

    .showResume-title[b-j5dq8ssdop] {
        font-size: var(--headlines-h4-fs);
        line-height: var(--headlines-h4-lh);
    }

    .showResume-author[b-j5dq8ssdop] {
        font-size: var(--text-m-fs);
        line-height: var(--text-m-lh);
    }
}
